<div class="container">
  <div class="row">
    <div class="col-md-6">
      <img [src]="country?.[0]?.flags?.svg" class="img-fluid" alt="...">
    </div>
    <div class="col-md-6">
      <h1>{{ country?.[0]?.name?.common }}</h1>
      <p><strong>Capital:</strong> {{ country?.[0]?.capital }}</p>
      <p><strong>Population:</strong> {{ country?.[0]?.population | number }}</p>
      <p><strong>Languages:</strong></p>
      <ul>
        <ng-container *ngIf="country?.[0]?.languages">
          <li *ngFor="let lang of Object.values(country?.[0]?.languages || {})">
            {{ lang }}
          </li>
        </ng-container>
      </ul>

      <p><strong>Bordering Countries:</strong></p>
      <div class="cards">
          <app-country-card *ngFor="let border of borderingCountries" [country]="border"></app-country-card>
      </div>

      <p><strong>Images:</strong></p>
      <div *ngIf="images.length > 0">
        <h2>Image Gallery</h2>
        <app-image-gallery [images]="images"></app-image-gallery>
      </div>


  </div>
</div>
</div>

<!--<div>{{ country | json }}</div>-->
<!--<div>{{ country?.[0]?.name?.common }}</div>-->
