<div class="wrapper">
  <div class="container mx-auto">
    <div class="d-flex justify-content-between align-items-center">
      <a routerLink="/"><img style="width: 100px; margin-top: 10px " src="/assets/logo_white.png" alt="countries logo"></a>
      <div *ngIf="username">
        <div class="logout-wrapper">
            <span class="username" (mouseover)="showLogout = true" (mouseleave)="showLogout = true">
              Hi, {{ username }}<ion-icon class="m-2 align-self-center user-icon" name="person-circle-outline"></ion-icon>
            </span>
          <button class="logout-button" *ngIf="showLogout" (click)="logout()">Logout</button>
        </div>
      </div>
    </div>
  </div>
</div>
<br>


<div class="container">

  <div class="card-header">
    <div class="card-header-bar">
      <a class="btn btn-back" (click)="goBack()"><ion-icon name="chevron-back-outline"></ion-icon> Back</a>
      <a routerLink="/upload" *ngxPermissionsOnly="['ADMIN']" style="padding: 5px 10px;">Edit</a>
    </div>
  </div>


  <div class="row">
    <div class="col-md-4">

      <div class="card flag-card">
        <div class="card-body">
          <div class="d-flex align-items-center flex-column">
            <img [src]="country?.[0]?.flags?.svg" class="flag-img mb-3" alt="...">
            <div>
              <h4 style="font-weight: bold;" class="card-title">{{ country?.[0]?.name?.common }}</h4>
              <p style="text-align: center" class="card-text">{{ country?.[0]?.capital?.[0] }}</p>
            </div>
          </div>
        </div>
      </div>

    </div>


    <div class="col-md-8">


      <div class="card info-card">
        <div class="card-body">
          <h4 style="font-weight: bold;">Information</h4>
          <br>
          <p><strong>Population:</strong> {{ country?.[0]?.population | number }}</p>
          <p><strong>Spoken languages:</strong> {{ country?.[0]?.languages ? Object.values(country?.[0]?.languages || {}).join(', ') : '-' }}</p>
        </div>

      </div>


      <br>
      <div class="card images-card">
        <div class="card-body">
          <h4 style="font-weight: bold;">Gallery</h4>
          <app-loader *ngIf="isLoading"> </app-loader>
          <app-image-gallery *ngIf="!isLoading" [images]="images"></app-image-gallery>

        </div>
      </div>


    </div>


    <div class="container">
      <h4 style="font-weight: bold; margin-bottom: 1.5rem;">Bordering Countries</h4>
      <div class="cards border-countries">
        <app-country-card *ngFor="let border of borderingCountries" [country]="border"></app-country-card>
      </div>
    </div>

  </div>
</div>

