
.page {
  display: flex;
  justify-content: flex-start;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 550px;
  margin-left: 40px;

  img {
    margin-bottom: 30px;
  }

  h1 {
    font-weight: 600;
    line-height: 1.2;

    @media (max-width: 500px) {
      font-size: 20px;
    }
  }

  p {
    font-weight: 500;
  }

  a {
    font-weight: 600;
    color: #3a89b7;
    text-decoration: none;
    cursor: pointer;

    @media (max-width: 500px) {
      display: block;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  form {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    p {
      font-size: 12px;
      color: #3a89b7;

      @media (max-height: 800px) {
        font-size: 10px;
      }
    }
  }

  input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    border-radius: 7px;

    @media (max-height: 800px) {
      padding: 7px;
      margin: 5px;
    }
  }

  .name {
    display: flex;
    justify-content: space-between;
    width: 99%;

    @media (max-width: 768px) {
      width: 100%;
      flex-wrap: wrap;
    }
  }

  input[type="text"] {
    width: 48%;

    @media (max-width: 768px) {
      width: 97%;
    }
  }

  input[type="checkbox"] {
    margin: 4px 8px 0 0;
  }

  .check-conditions {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 15px;
  }

  button {
    margin-left: auto;
    margin-top: 30px;
    display: flex;
    padding: 8px 50px;
    border-radius: 30px;
    background-color: #3d8d7b;
    color: white;
    border-width: 0;
    cursor: pointer;

    @media (max-width: 500px) {
      margin-left: auto;
      margin-right: auto;
    }

    &:hover {
      opacity: 70%;
    }
  }

  @media (max-width: 500px) {
    form {
      padding-top: 30px;
      font-size: 14px;
    }
  }
}

.background {
  opacity: 60%;
  z-index: -1;
  position: fixed;
  right: 0;
  top: 0;
  width: 600px;
  object-fit: cover;
  height: 100%;
  mask-image: linear-gradient(to right, transparent, white);
}




/* Mobile Phones in Portrait Mode (less than 320px) */
@media only screen and (max-width: 320px) {
  .container {
    width: 100%;
    margin-left: 0;
    padding: 10px;
    font-size: 14px;
  }

  .background {
    display: none;
  }
}

/* Mobile Phones in Landscape Mode (between 321px and 480px) */
@media only screen and (min-width: 321px) and (max-width: 480px) {
  .container {
    width: 100%;
    margin-left: 0;
    padding: 10px;
    font-size: 14px;

    h1{
      font-weight: 600;
      font-size: 30px;
    }
    p{
      font-weight: 500;
      font-size: 1rem;
    }
  }

  .background {
    width: 50%;
  }
}

/* Tablets in Portrait Mode (between 481px and 768px) */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .container {
    width: 100%;
    margin-left: 0;
    padding: 15px;
    h1{
      font-weight: 600;
      font-size: 30px;
    }
    p{
      font-weight: 500;
      font-size: 1rem;
    }
  }

  .background {
    width: 50%;
  }
}

/* Tablets in Landscape Mode (between 769px and 1024px) */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .container {
    padding: 20px;
    font-size: 18px;
    width: 98%;
  }
  .container .name {
    width: 98%;
  }
  .container form{
    width: 60%;
  }
  .background {
    width: 50%;
  }
}

/* Desktop Screens (greater than 1024px) */
@media only screen and (min-width: 1025px) {
  .container {
    width: 550px;
    margin-left: 40px;
    padding: 20px;
    font-size: 16px;
  }

  .background {
    width: 600px;
  }
}
