<div class="container">
  <a routerLink="/"><img style="width: 150px"  src="assets/logo_blue.png" alt="countrees-logo" /></a>
  <h1>Create new account</h1>
  <p>Already a member? <a [routerLink]="['/login']">Log in</a></p>

  <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <div class="name">
      <input type="text" class="inputt" placeholder="First Name" formControlName="firstName" />
      <div *ngIf="signupForm.get('firstName')?.invalid && signupForm.get('firstName')?.touched">
        <div style="color: red; font-size: 12px; margin-top: 5px;" *ngIf="signupForm.get('firstName')?.errors?.['required']">First name is required &nbsp;</div>
      </div>
      <input type="text" class="inputt" placeholder="Last Name" formControlName="lastName" />
      <div *ngIf="signupForm.get('lastName')?.invalid && signupForm.get('lastName')?.touched">
        <div style="color: red; font-size: 12px; margin-top: 5px;" *ngIf="signupForm.get('lastName')?.errors?.['required']">Last name is required </div>
      </div>
    </div>
    <div class="name">
    <input type="email" class="inputt" style="width: 97%" placeholder="Email" formControlName="email" />
    <div *ngIf="signupForm.get('email')?.invalid && signupForm.get('email')?.touched">
      <div style="color: red; font-size: 12px; margin-top: 5px;" *ngIf="signupForm.get('email')?.errors?.['required']">Email is required</div>
      <div style="color: red; font-size: 12px; margin-top: 5px;" *ngIf="signupForm.get('email')?.errors?.['email']">Invalid email format</div>
    </div>
    </div>
    <div class="name">
    <input type="password" class="inputt" style="width: 97%" placeholder="Password" formControlName="password" />
    <div *ngIf="signupForm.get('password')?.invalid && signupForm.get('password')?.touched">
      <div style="color: red; font-size: 12px; margin-top: 5px;" *ngIf="signupForm.get('password')?.errors?.['required']">Password is required</div>
      <div style="color: red; font-size: 12px; margin-top: 5px;" *ngIf="signupForm.get('password')?.errors?.['minlength']">Password must be at least 6 characters long</div>
    </div>
    </div>
    <div class="check-conditions">
      <input type="checkbox" formControlName="admin" /> Create Admin account
    </div>
    <div class="check-conditions">
      <input type="checkbox" formControlName="termsAndConditions" /> I agree to
      the terms and conditions as set out by the user agreement.
    </div>
    <div *ngIf="signupForm.get('termsAndConditions')?.invalid && signupForm.get('termsAndConditions')?.touched">
      <div style="color: red; font-size: 12px; margin-top: 5px;">You must agree to the terms and conditions</div>
    </div>
    <p>
      By clicking here, I state that I have read and understood the terms and
      conditions
    </p>
    <button type="submit">Sign up</button>

  </form>

  <div>
    <img  class="background" src="assets/login-background.jpg" alt="auth-background"/>
  </div>
</div>

